:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;
  --active: #6bff21;

  --first-brand-color: #dcd5cd;
  --second-brand-color: #f22a3b;
  --third-brand-color: #fea567;
  --fourth-brand-color: #353430;

  --main-font: 'Montserrat';
  --title-font:  'Montserrat Bold';
  --main-title-font: 'Anton';

  font-size: 62.5%;
}
